@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    overflow: hidden; /* This disables scrolling */
}

#header-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#website-url, .tracklist {
    font-size: 30px;
    display: inline;
    font-style: italic;
}

#website-url {
    color: blue;
    text-decoration: none;
}

#description {
    font-size: 20px;
    color: gray;
}

#graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.node-text, #graph .node-text {
    text-anchor: middle;
}

#graph .node-text {
    font-size: 12px;
}

.node-text-artist {
    font-size: 15px;
    font-weight: bold;
}

path.highlighted {
    stroke: red !important;
}

.marquee {
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0%   { text-anchor: start; startOffset: 100%; }
    100% { text-anchor: start; startOffset: 0%; }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#description-container {
    margin-top: 60px;
    padding-left: 20px;
    pointer-events: auto;
    position: relative;
    z-index: 1;
}

/* The main search container */
#search-container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    z-index: 2;
}

/* The search results container */
#search-results {
    z-index: 1000;
    width: 100%; 
    max-width: 300px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none;
    display: none;
    overflow-y: auto; /* Enable vertical scrolling for overflow */
    max-height: 250px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 0px; /* Set border-radius to 0 */
    overflow: hidden;
    box-sizing: border-box; 
}

#search-input {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    outline: none;
    background-color: #f8f8f8;
    z-index: 1000;
    box-sizing: border-box; 
    border-radius: 0px; /* Set border-radius to 0 */
}

#search {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

/* The style for each search result */
#search-results div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* The last search result should not have a bottom border */
#search-results div:last-child {
    border-bottom: none;
}

.result-item {
    cursor: pointer;
}

#progress-bar-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Adjust as needed */
    background-color: #f3f3f3;
    color: black;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

#progress-bar {
    background-color: #4CAF50;
    height: 30px;
    border-radius: 20px;
    width: 0%; 
    color: white;
    font-weight: bold;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box;
}

#progress-text {
    padding: 5px;
}